body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightblue
}

header {
    background: blue;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    display: flex;
    flex-direction: row;
    align-items: flex-start ;
    justify-content: first baseline;
    padding: 1em;
    height: 400px;
    text-align: center;
}

button {
    background: blue;
    color: white;
    border: none;
    padding: 1em 2em;
    cursor: pointer;
}

button:hover {
    background: blue;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #ddd;
}
